.card-product {
    color: white;
    background-color: #343a40;
    border-radius: 45px;
    border-color: #5bc0de;
    border: 1px solid;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(154,160,185,.05), 0 15px 40px rgba(166,173,201,.2);
    
}

.card-product:hover {
    box-shadow: 0 7px 30px -10px whitesmoke;
    transform: scale(1.05);
    transition: transform .3s ease;
}



.card-header {
    background-color: transparent; 
    border-color: transparent;
  }

